<app-filter-items [filter]="currentFilter"
                  (filterChange)="filterChange($event)"></app-filter-items>
<div>Showing {{filter$ |async | currentFilterPosition}} of {{ count$ | async}}</div>
<div appScroll
     [threshold]="95">
  <div *ngIf="areLoadingItemsTop">
    <h1>Loading…</h1>
  </div>
  <app-item *ngFor="let item of items$ | async; trackBy: trackByItem"
            (addToFav)="addToFav($event)"
            [item]="item"></app-item>
  <div *ngIf="areLoadingItemsBottom">
    <h1>Loading…</h1>
  </div>
</div>
