<div appScroll
     [threshold]="90">
  <form [formGroup]="form">
    <input formControlName="filter">
    <select formControlName="order">
      <option *ngFor="let option of orderFields"
              [value]="option.value">{{option.text}}</option>
    </select>
    <div>Showing {{(items$ | async).length}} of {{ count$ | async}}</div>
  </form>
  <div *ngIf="areLoadingItemsBottom">
    <h1>Loading…</h1>
  </div>
  <app-item *ngFor="let item of items$ | async; trackBy: trackByItem"
            [item]="item"></app-item>
  <div *ngIf="areLoadingItemsBottom">
    <h1>Loading…</h1>
  </div>
</div>
