@import "../../variables";
:host {
  height: 100%;
}
.modal-header {
  background-color: $main;
  color: white;
  button {
    color: white;
  }
}
.modal-body {
  overflow: auto;
  height: calc(100% - 93px);
  margin: 12px;
}
