<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button"
          class="close pull-right t-close-modal-button"
          aria-label="Close"
          (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <app-filter-items [filter]="currentFilter"
                    [orderFields]="filterBy"
                    (filterChange)="filterChange($event)"></app-filter-items>
  <div class="current-position">Showing {{(items$ | async).length}} of {{ count$ | async}}</div>
    <div class="card " *ngFor="let item of items$ | async ; trackBy: trackByFn">
      <img class="card-img-top"
           [src]="item.image"
           [alt]="item.title" />
      <div class="card-body">
        <h5 class="card-title">
          <app-favorite-button [isFav]="item.isFav"
                               (click)="removeItem(item)">

          </app-favorite-button>
          <span class="title">{{item.title}} </span>
        </h5>
      </div>
  </div>
</div>




