<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <app-filter-items [filter]="currentFilter"
                    [orderFields]="filterBy"
                    (filterChange)="filterChange($event)"></app-filter-items>
  <div>Showing {{(items$ | async).length}} of {{ count$ | async}}</div>

  <div *ngFor="let item of items$ | async ; trackBy: trackByFn">
    <img [src]="item.image" />
    <div>
      {{item.title}}
      <app-favorite-button (click)="removeItem(item)"
                           [isFav]="item.isFav"></app-favorite-button>
    </div>
  </div>

</div>
