<div class="modal-header">
  <h4 class="modal-title pull-left">Modal</h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div appScroll
       [threshold]="75">
    <app-filter-items [filter]="currentFilter"
                      [orderFields]="filterBy"
                      (filterChange)="filterChange($event)"></app-filter-items>
    <div>Showing {{(items$ | async).length}} of {{ count$ | async}}</div>
    <!-- <div *ngIf="areLoadingItemsTop">
      <h1>Loading…</h1>
    </div> -->
    <div *ngFor="let item of items$ | async ; trackBy: trackByFn">{{item.title}} <button (click)="removeItem(item)"> 🗑
      </button></div>
    <!-- <div *ngIf="areLoadingItemsBottom">
      <h1>Loading…</h1>
    </div> -->
  </div>

</div>
