<div class="card ">
  <img class="card-img-top"
       [src]="item.image"
       [alt]="item.title" />
  <div class="card-body">
    <h5 class="card-title">
      <app-favorite-button [isFav]="item.isFav"
                           (click)="toggleFav.emit(item)">

      </app-favorite-button>

      <span class="title">{{item.title}} </span>
      <small class="price">{{item.price | currency}}</small>
    </h5>
    <p class="card-text">{{item.description}}</p>
    <a [href]="'mailto:'+item.email+ '?subject=Interested on product ' + item.title"
       class="btn btn-item-app">Contact</a>
  </div>
</div>
