@import "../../variables";
:host {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.favorite {
  color: $main;
}

button {
  border: none;
  background-color: transparent;
}
.title {
  color: darken($main, 50);
}

img {
  min-height: 200px;
  border-bottom: 1px solid #efefef;
}
