@import "../variables.scss";
:host {
  height: 100%;
  & > div {
    height: 100%;
  }
}

.loading {
  background-color: $main;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $fontNegative;
  @-webkit-keyframes cssAnimation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  @-moz-keyframes cssAnimation {
    from {
      -moz-transform: rotate(0deg);
    }
    to {
      -moz-transform: rotate(360deg);
    }
  }
  @-o-keyframes cssAnimation {
    from {
      -o-transform: rotate(0deg);
    }
    to {
      -o-transform: rotate(360deg);
    }
  }
  i {
    -webkit-animation: cssAnimation 3s infinite linear;
    -moz-animation: cssAnimation 3s infinite linear;
    -o-animation: cssAnimation 3s infinite linear;
    font-size: 50px;
  }
}
