/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  overflow: hidden;
}
// ff9988
.scroll {
  height: calc(100% - 25px);
  overflow: auto;
  scroll-behavior: smooth;
}
